@font-face {
  font-family: 'IBM Plus';
  src: url('../assets/IBM_font.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plus';
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
  background: #1b2a49;
}

#wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#title {
  color: #eeeeee;
  font-size: 3em;
  margin-bottom: 1em;
}

#main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#center-buttons {
  display: none;
  align-items: center;
  margin-top: 0.5em;
}

#center-buttons button {
  width: 8em;
  padding: 0.5em;
  margin: 0.5em;
  background: white;
  cursor: pointer;
  border: none;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 22em;
  margin: 2em;
}

#controls button {
  width: 10em;
  background: white;
  font-size: 1.2em;
  padding: 1em;
  cursor: pointer;
  border: none;
}

#center-buttons button:focus,
#controls button:focus {
  outline: none;
}

#center-buttons button:hover,
#controls button:hover {
  transform: scale(1.2);
}

#center-buttons button:active,
#controls button:active {
  transform: scale(1.1);
}

#characters {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}

#characters > div {
  display: flex;
  align-items: center;
}

.char {
  margin: 0.5em;
  cursor: pointer;
}

.char:hover {
  filter: invert(1);
}

.char:active {
  transform: scale(1.1);
}

.char,
#my-cvs {
  border: 10px solid white;
}

.p5Canvas {
  display: block;
}

.notification-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1em;
  transition: 1s all ease;
}

.notification {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #1b2a49;
  border: white 3px solid;
  padding: 0.4em;
  transition: 2s all ease;
  animation-duration: 2s;
  animation-name: popup;
  margin: 0.5em 0;
}

.notification img {
  width: 2em;
}

.notification span {
  color: white;
  margin-left: 1em;
}

@keyframes popup {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}
